@import 'tailwindcss';

html {
  @apply m-0 p-0 box-border;
}

.container {
  @apply mx-auto;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

h1 {
  @apply text-4xl font-black;
}

h2 {
  @apply text-3xl font-bold;
}

h3 {
  @apply text-2xl font-semibold;
}

h4 {
  @apply text-xl font-medium;
}

h5 {
  @apply text-lg font-medium;
}

h6 {
  @apply text-base font-medium;
}

p {
  @apply text-slate-600;
}
